<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Matt Sephton</string>
	<key>Builder Version</key>
	<string>8536.26.17</string>
	<key>CFBundleDisplayName</key>
	<string>YouTube Embed HTML5</string>
	<key>CFBundleIdentifier</key>
	<string>com.gingerbeardman.youtubeembedhtml5</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>Chrome</key>
	<dict/>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>YouTube-Embed-HTML5.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Use an embedded player for videos that fail to start using the HTML5 player.</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>*.youtube.com</string>
				<string>youtube.com/watch</string>
			</array>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>http://www.gingerbeardman.com/safari/update.xml</string>
	<key>Website</key>
	<string>http://www.gingerbeardman.com/safari/</string>
</dict>
</plist>
